.section {
  display: flex;
  margin-bottom: 20px;
  background-color: #ffffff; /* Color de fondo blanco */
  text-align: justify;
  align-items: stretch;
}

.content {
  display: flex;
  width: 100%;
  padding: 20px; /* Añade espaciado interno */
}

.text-wrapper {
  width: 75%;
  padding-right: 20px; /* Agrega espacio a la derecha del texto */
  text-align: justify; /* Justifica el texto */
}

.image-wrapper {
  width: 25%;
  text-align: center;
  position: relative; /* Añade posición relativa para el contenedor */
  overflow: hidden; /* Oculta el contenido que exceda el tamaño del contenedor */
}

.section-image {
  width: 100%; /* Ajusta el ancho de la imagen al 100% */
  height: auto;
  position: absolute; /* Ajusta la posición absoluta para llenar el contenedor */
  top: 0; /* Alinea la imagen arriba */
  left: 0; /* Alinea la imagen a la izquierda */
}

@media (max-width: 768px) {
  /* Cambios para dispositivos móviles */
  .content {
    flex-direction: column; /* Cambia la dirección del contenido a columna */
    align-items: center; /* Centra los elementos en el eje Y */
  }

  .text-wrapper {
    width: 100%;
    text-align: center; /* Centra el texto */
  }

  .image-wrapper {
    width: 100%;
    height: 0; /* Establece la altura en 0 para que se ajuste automáticamente */
    padding-top: 100%; /* Establece el padding superior para crear un contenedor cuadrado */
  }

  .section-image {
    position: absolute; /* Ajusta la posición absoluta para llenar el contenedor */
    width: 100%; /* Ajusta el ancho de la imagen al 100% */
    height: 100%; /* Ajusta la altura de la imagen al 100% */
    top: 0; /* Alinea la imagen arriba */
    left: 0; /* Alinea la imagen a la izquierda */
  }
}
