.baja-vision-container {
  margin: 20px auto; // Márgenes arriba y abajo
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .section {
    margin: 15px 0; // Márgenes arriba y abajo para cada sección
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; // Espacio entre la imagen y el contenido
    max-width: 800px; // Ancho máximo del contenido
    border-bottom: 1.5px solid black;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .content {
      flex: 1;
      padding: 20px;
      text-align: justify;

      h2 {
        margin-bottom: 10px;
      }

      p.text {
        margin-bottom: 0;
      }
    }

    .image-container {
      flex: 1;
      max-width: 300px; // Ancho máximo de la imagen
      overflow: hidden; // Para que la imagen no se salga del contenedor

      img.image {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
