/* ResponsivePage.css */

.responsive-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1px;
  border-bottom: 2px;
}

.section {
  width: 30%; /* Ajusta el ancho según tus necesidades */
  margin: 10px;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  text-align: center;
}

.section-vision {
  padding: 3em;
  text-align: center;
}
