$base-color: #13384f;
$soft-blue-2: lighten($base-color, 72%);
$soft-blue-3: lighten($base-color, 10%);

.image-gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-gallery-title {
  text-align: center;
  opacity: 0.9;
  color: #13384f;
  margin: 0;
  padding: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  border-radius: 1.5px; /* Mover border-radius aquí para aplicarlo a toda la tarjeta */
}

.card-content {
  width: calc(50% - 20px); /* Para dos cartas por fila */
  margin-bottom: 20px; /* Espacio entre las cartas */
  display: flex; /* Hacer que los elementos dentro de la carta sean flexibles */
  flex-direction: row; /* Apilar los elementos uno encima del otro */
  background-color: white;
  border-radius: 10px;
}

.card-image {
  width: 70%; /* Ancho completo para el contenedor de la imagen */
  height: auto; /* Altura automática */
  overflow: hidden;
  border-radius: 10px;
}

.card-image img {
  width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: 100%; /* Ajustar la altura al 100% del contenedor */
  object-fit: cover; /* Cubrir el contenedor con la imagen */
}

.card-text {
  width: 100%; /* Ancho completo para el texto */
  padding: 20px; /* Espaciado interno del texto */
  display: flex; /* Hacer que los elementos dentro del texto sean flexibles */
  flex-direction: column; /* Apilar los elementos uno encima del otro */
  justify-content: center; /* Centrar verticalmente los elementos dentro del texto */
  border-radius: 0 0 8px 8px; /* Bordes redondeados en la parte inferior del texto */
  align-items: center;
}

.card-title {
  margin: 0; /* Eliminar el margen superior e inferior predeterminado */
  margin-bottom: 10px; /* Espaciado inferior del título */
}

/* Estilos para los botones de flecha */
.carousel {
  position: relative;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #13384f;
  z-index: 2;
}

.carousel button.prev {
  left: 10px;
}

.carousel button.next {
  right: 10px;
}

@media only screen and (max-width: 768px) {
  .image-gallery-container {
    height: 884px;
  }
  .card-content {
    width: 100%;
    height: auto;
  }

  .card-image {
    width: 100%;
  }
}
