.ml-auto {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 0.7em;
}

.ml-auto-item {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logoUlleres {
  width: 45px; /* Ajusta el tamaño según tus necesidades */
  filter: hue-rotate(180deg);
}
