.logoUlleres {
  width: 45px;
  filter: hue-rotate(180deg);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  border-bottom: 2px solid black;
}

nav ul li a.active {
  border-bottom: 2px solid black;
}
