.quienes-somos {
  background-color: #e0e1e1;
}

.quienSomos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
  background-color: #e2e3e5;

  .quien-somos-enter {
    display: flex;
    flex-direction: column;
    padding: 6em;
  }

  .justify-content {
    text-align: justify;
  }

  .image-portada {
    width: 40%;
    height: auto;
    padding: 2em;
    border-radius: 4em;
  }
}
