.quienes-somos {
  display: flex;
  justify-content: center; // Centra horizontalmente el contenido
  padding: 20px; // Agrega algo de espacio alrededor del contenido

  .quienSomos {
    display: flex;
    flex-direction: column;
    align-items: center; // Centra verticalmente el contenido
    max-width: 800px; // Ancho máximo del contenedor
    margin: 0 auto; // Centra el contenedor horizontalmente

    .quien-somos-enter {
      text-align: center; // Centra el texto horizontalmente
      margin-bottom: 20px; // Agrega espacio debajo del texto
    }

    .image-portada {
      width: 50%; // Haz que la imagen ocupe todo el ancho del contenedor
      border-radius: 10px; // Añade bordes redondeados a la imagen
    }
  }
}
