.seccions {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0.5em;
}

.seccions-individual {
  width: calc(
    50% - 1em
  ); // Ajustar el ancho de las secciones individuales para dos por fila
  height: 25vh;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; // Cambiar el color del texto a blanco para que se vea mejor en fondos oscuros
  font-weight: bold;
  background-image: url("../assets/optica-carrilet-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(150%) saturate(150%) hue-rotate(220deg);
}

@media only screen and (max-width: 768px) {
  .seccions-individual {
    width: calc(
      100% - 1em
    ); // Ajustar el ancho de las secciones individuales para una por fila en dispositivos móviles
  }
}
