.seccions {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding-top: 0.6em;
  justify-content: center;
}

.seccions-individual {
  width: 47%;
  height: 25vh;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 0.4em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  background-image: url("../assets/ÓPTICA\ CARRILET\ \(3\).png");
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}
