.img-gallery-1 {
  text-align: center;

  .h2-gallery {
    margin-bottom: 20px;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .img-post {
      width: 20%; // Cambiar el ancho al 40% para mostrar dos imágenes por fila
      margin: 10px;
    }

    .img-post + p {
      width: 100%;
      margin: 0 auto;
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 768px) {
  .img-gallery-1 {
    .img-container {
      .img-post {
        width: 60%; // Cambiar el ancho al 90% para mostrar una imagen por fila en dispositivos móviles
      }
    }
  }
}
