@media only screen and (min-width: 768px) {
  /* For desktop: */
  .base-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 3em;

    .base-div-1 {
      text-align: center;
      padding: 2em;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra suave */
      width: 80%;
      height: 1vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
