.base-div {
  display: flex;
  flex-direction: column;
  align-items: center; // Centrar horizontalmente los rectángulos
  max-width: 800px; // Ancho máximo de los rectángulos
  margin: 20px auto; // Márgenes arriba y abajo en dispositivos de escritorio
}

.base-div-1 {
  width: 80%; // Ocupar todo el ancho disponible
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px; // Espacio entre los rectángulos
  text-align: center;

  .base-div-2 {
    font-size: 12px;
  }

  @media (max-width: 768px) {
    // Estilos para dispositivos móviles
    margin: 10px; // Márgenes más pequeños en dispositivos móviles
  }
}
